<section class="page-section" id="events">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">At Your Service</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">our events concept</h3>
                    <p class="text-muted mb-0"></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Up to Date</h3>
                    <p class="text-muted mb-0"></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Ready to Participate in it</h3>
                    <p class="text-muted mb-0">You can try it for the first time for free, if you like there is discount
                        of 50% for the second time</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2"></h3>
                    <p class="text-muted mb-0"></p>
                </div>
            </div>
        </div>
    </div>
</section>
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="/assets/téléchargé.jpeg" title="Art of seduction">
                    <img class="img-fluid" src="/assets/téléchargé.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Self improvement</div>
                        <div class="project-name">Art of seduction</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="/assets/téléchargé (1).jpeg" title="Romeo and Juliet">
                    <img class="img-fluid" src="/assets/téléchargé (2).jpeg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Romance</div>
                        <div class="project-name">Romeo and Juliet</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="/assets/téléchargé (3).jpeg" title="harry potter">
                    <img class="img-fluid" src="/assets/téléchargé (4).jpeg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Science Fiction</div>
                        <div class="project-name">harry potter</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="/assets/Six-Action-Adventure-Thrillers-scaled-1.jpg" title="the cold storm">
                    <img class="img-fluid" src="/assets/téléchargé (5).jpeg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Thriller</div>
                        <div class="project-name">the Cold Storm</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="/assets/téléchargé (6).jpeg" title="akata witch">
                    <img class="img-fluid" src="/assets/téléchargé (7).jpeg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Adventure</div>
                        <div class="project-name">Akata Witch</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="/assets/best-of-the-year-2022-ya.jpg" title="the weight of blood">
                    <img class="img-fluid" src="/assets/téléchargé (8).jpeg" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Mystery</div>
                        <div class="project-name">The Weight Of Blood</div>
                    </div>
                </a>
            </div>
        </div>
    </div>